.main {
  background-color: bisque;
  width: 70%;
  margin: 0 auto;
}

.task-container {
  border: 1px solid black;
  color: green;
  margin: 10px 20% 10px 20%;
  padding: 20px 50px;
}

.red-border {
  border: 1px solid red;
}

#green-row {
  background-color: aqua;
}
